/* Paleta de colores */

$dark-primary-color: #D32F2F;
$primary-color: #F44336;
$light-primary-color: #FFCDD2;
$text-icons: #FFFFFF;
$accent-color: #00BCD4;
$primary-text: #212121;
$secondary-text: #757575;
$divider-text: #E0E0E0;

$font-big: 2em;
$font-small: 1em;
$font-family-lato : 'Lato', sans-serif;

html {
  font-size: 15px;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-lato;
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  background: $dark-primary-color !important;
}

main {
  flex: 1 0 auto;
  text-align: center;
  margin-top: 1em;
}

footer {
  background-color: $primary-color !important;
}

.title {
  margin: 0;
  text-align: center;
  font-size: $font-big;
}

.font-small {
  font-size: $font-small;
}