$dark-primary-color: #D32F2F;
$primary-color: #F44336;
$light-primary-color: #FFCDD2;
$text-icons: #FFFFFF;
$accent-color: #00BCD4;
$primary-text: #212121;
$secondary-text: #757575;
$divider-text: #E0E0E0;

$font-big: 2em;
$font-small: 1em;
$font-family-lato : 'Lato', sans-serif;
